@model GuestBook.Models.Guest

@{
    ViewData["Title"] = "Index";
}

<h2>Guestbook</h2>
<hr />

@if (Model != null) {
    <h4>Welcome @Html.DisplayFor(model => model.Name)</h4>

    <a asp-area="" asp-controller="Guest" asp-action="Read">See your name on the "Read" page</a>
} else {
<p>Welcome to the GuestBook! Please sign your name!</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignedDate" class="control-label"></label>
                <input asp-for="SignedDate" class="form-control" />
                <span asp-validation-for="SignedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
}