
@model IEnumerable<GuestBook.Models.Guest>
@{
    ViewData["Title"] = "Read";
}
<h1>Read the Guest Book!</h1>

<p>These are the past people who have signed the Guest Book.</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignedDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignedDate)
            </td>
        </tr>
}
    </tbody>
</table>