@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All of the data you provide to the Guest Book is publicly available from the  
                            <a  asp-area="" asp-controller="Guest" asp-action="Read">read</a>
page.</p>